@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-color: #f8f8f8; /* Base color */
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 20px 20px; /* Size of the grid cells */
  position: relative;
  padding: 8px;
}


.front-element {
  position: relative; /* or absolute */
  z-index: 10; /* Higher value to be in front */
}

.background-element {
  position: relative; /* or absolute */
  z-index: 5; /* Lower value so it stays behind */
}
